$blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: $main-bg;
  display: grid;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: $card-bg;
  border-radius: 10px;
  padding: 24px;
  width: 350px;

  box-shadow: 10px 30px 10px 10px rgba(9, 17, 30, 0.5),
    -10px 30px 10px 10px rgba(9, 17, 30, 0.5);
  .card-image {
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .title {
      color: $white;
      font-weight: 600;
      font-size: 24px;
    }
    .description {
      font-weight: 300;
      color: $blue;
    }
  }
  .icon-box {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    .ethereum {
      color: $cyan;
      display: flex;
      align-items: center;
      gap: 4px;
    }
    .time {
      color: $blue;
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
  .line {
    border-top: 1px solid $blue;
    opacity: 0.5;
  }
  .author {
    display: flex;
    align-items: center;
    gap: 8px;
    img {
      width: 32px;
      border: 1px solid $white;
      border-radius: 50%;
    }
    p {
      font-size: 14px;
      color: $blue;
      span {
        color: $white;
      }
    }
  }
}
